<header>
  <div id="logo">
      <a href="/">Blit</a>
  </div>
  <nav>
      <a href="#" id="nav-trigger">
          <div></div>
          <div></div>
          <div></div>
      </a>
      <ul id="nav-list">
          <a href="#" id="nav-close">
              <div></div>
              <div></div>
              <div></div>
          </a>
          <li>
              <a class="" href="#">Bezorging</a>
          </li>
          <li>
              <a class="" href="#">Prijzen</a>
          </li>
          <li>
              <a class="" href="#">Over Blit</a>
          </li>
      </ul>
  </nav>
</header>