header {
    overflow: hidden;
  
    #logo {
      background:url("../../assets/img/blit-logo.png");
      background-size: 100% 100%;
      width: 41px;
      height: 46px;
      display: block;
      margin: 20px;
      text-indent: -9999px;
      float: left;
  
      a {
        width: 100%;
        height: 100%;
        display: block;
        text-indent: -999px;
      }
    }
  }
  
  nav {
    float: right;
    z-index: 2;
  
    #nav-trigger, #nav-close {
      display: block;
      margin-right: 5px;
      margin-top: 18px;
      padding: 15px;
  
      div {
        width: 20px;
        height: 4px;
        background: #222;
        margin: 4px 0;
  
        &:first-child {
          margin-top: 0;
        }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    #nav-close {
      position: absolute;
      padding: 15px;
      top: 0;
      right: 0;
    }
  
    #nav-list {
      position: absolute;
      right: -300px;
      top: 0;
      min-width: 300px;
      margin: 0;
      padding: 20px 0 10px 20px;
      height: 100%;
      background: #fff;
      z-index: 4;
      font-size: 1.2em;
  
      li {
        list-style: none;
        margin: 25px 0;
  
        a {
          color: black;
          text-decoration: none;
          font-weight: 600;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }