<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main-content text-center">
                    <h1>Meer dan 471.000 ideeën voor aan jouw muur.</h1>
                    <form (ngSubmit)="handleSearchImage(searchValue)" #searchForm="ngForm" autocomplete="off">
                        <input type="text" [(ngModel)]="searchValue" name="value" 
                            placeholder="Zoek op kleur, locatie of onderwerp..." />
                        <br />
                        <input type="submit" value="Zoeken" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>