.canvas-container {
  padding: 15px 0px;
  .canvas {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .loading, .no-results {
    margin-top: 100px;
  }
}
@media (min-width: 601px) {
  .loading, .no-results {
    margin-top: 150px;
  }
}
