<main>
  <div class="container">
    <div *ngIf="selectedPhoto" class="carousel">
      <img class="canvas" [src]="selectedPhoto?.urls?.regular">
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-12">
              Foto van
              <strong>
                {{selectedPhoto?.user?.name}}
              </strong>
          </div>
          <div class="col-sm-12">
              <span class="credits">via
                  <a href="https://unsplash.com/" target="_blank">Unsplash</a>
                </span>
          </div>
        </div>
      </div>
      <div class="col-md-5 order">
        <label for="selectProduct">Soort product</label>
        <br />
        <select name="selectProduct">
          <option value="canvas">Canvas</option>
        </select>
        <br />
        <br />

        <label for="sizeProduct">Afmeting product</label>
        <br />
        <select name="sizeProduct" [(ngModel)]="selectedProduct">
          <option [value]="null" selected>Selecteer een formaat</option>
          <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
        </select>

        <div class="price">
          <!-- todo: directive schrijven voor de prijs -->
          <p *ngIf="selectedProduct">&euro;45.<sup>00</sup></p>
        </div>

        <a class="cta" href="checkout">Bestellen</a>        
      </div>
    </div>
    </div>
</main>