<main>
  <div class="container">
    <div *ngIf="selectedPhoto" class="carousel">
      <img class="canvas" [src]="selectedPhoto?.urls?.regular">
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-12">
              Foto van
              <strong>
                {{selectedPhoto?.user?.name}}
              </strong>
          </div>
          <div class="col-sm-12">
              <span class="credits">via
                  <a href="https://unsplash.com/" target="_blank">Unsplash</a>
                </span>
          </div>
        </div>
      </div>
      <div class="col-md-5 order">
        <label for="selectProduct">Soort product</label>
        <br />
        <select name="selectProduct">
          <option value="canvas">Canvas</option>
        </select>
        <br />
        <br />

        <label for="sizeProduct">Afmeting product</label>
        <br />
        <select name="sizeProduct">
          <option value="20x30">20x30</option>
          <option value="30x20">20x30</option>
          <option value="30x40">30x40</option>
          <option value="40x30">40x30</option>
          <option value="40x40">40x40</option>
          <option value="40x60">40x60</option>
          <option value="60x40">60x40</option>
          <option value="60x60">60x60</option>
          <option value="60x90">60x90</option>
          <option value="90x30">90x30</option>
          <option value="90x60">90x60</option>
        </select>

        <div class="price">
          <sup>&euro;</sup>45.
          <sup>00</sup>
        </div>

        <a class="cta" href="checkout">Bestellen</a>
      </div>
    </div>
    </div>
</main>