@import "assets/fonts/fonts";
@import "~bootstrap/scss/bootstrap";

body {
  background: white;
  font: 1em "Metropolis", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #222;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;
}

h1 {
  font-weight: bold;
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }
}

/* GENERAL */
.canvas {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4), 10px 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* FORMS */
input {
  font: 300 1.4em "Metropolis", sans-serif;
}

input[type="text"] {
  border: 1px #eee solid;
  background: #fff;
  padding: 20px;
  width: 500px;
  color: #888;
  border-radius: 5px;
  box-shadow: 0 3px 8px #ddd;

  @media only screen and (max-width: 500px) {
    padding: 20px 10px;
    font-size: 1em;
    width: 100%;
    box-shadow: 0 3px 5px #ddd;
  }
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"],
.cta {
  background: #3742fa;
  color: white;
  padding: 15px 50px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 700;
  box-shadow: 0 3px 8px #ddd;

  &:hover {
    background: lighten(#3742fa, 3%);
    cursor: pointer;
  }

  @media only screen and (max-width: 440px) {
    padding: 20px 10px;
    font-size: 1em;
    width: 100%;
  }
}
